.explore-main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1rem;
  padding-bottom: 3rem;
  gap: 1.5rem; 
}

/* Map */
.container {
  flex: 0 0 100%; 
  max-width: 100%;
  display: flex;
}

.map-container {
  width: 50%;
  height: 550px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.places-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  align-items: center;
}

.places {
  height: 100%;

}

.list-container {
  padding: 2rem;
}

.list-container-buttons {
  display: flex;
  gap: 20px; 
}

#responsiveButton {
  display: none;
}

/* Media Query for iPad Mini - max-width: 768px */

@media screen and (max-width: 768px) {
  .explore-main {
    flex-direction: column; 
    align-items: center;
    padding: 1rem;
  }
  .container {
    flex-direction: column; 
    width: 100%;
    gap: 1rem;
}
  .map-container {
    width: 100%;       
    height: 400px;     
  }

  .places-container {
    width: auto;       
    height: 30vh;
    flex-direction: row;
    justify-content: center;
  }

  .places {
    height: 20%;
  }

  .list-container {
    padding: 1rem;
  }

  .up-left {
    transform: rotate(270deg)
  }

  .down-right {
    transform: rotate(270deg);
  }

  .places {
    width: 100%;
    height: 100%;
  }

  .list-container-buttons {
    flex-direction: column; 
    gap: 12px;
  }
  .list-container-buttons {
    width: 20%;
  }
}

/* Media Query for Galaxy Z Fold 5 (344 x 882) */

@media screen and (max-width: 344px) {
    .explore-main {
    flex-direction: column; 
    align-items: center;
    padding: .15rem;
  }
  .container {
    flex-direction: column; 
    width: 100%;
}
  .map-container {
    width: 100%;       
    height: 300px;     
  }
  .places-container {
    width: auto;       
    height: 40vh;
    flex-direction: row;
    justify-content: center;
  }
  .places {
    height: 20%;
  }

  .list-container {
    padding: 1rem;
  }

  .up-left {
    transform: rotate(270deg);
    background-color: transparent;
    border-color: transparent;
    color: #0f283b;
    padding: 0px;
  }

  .down-right {
    transform: rotate(270deg);
    background-color: transparent;
    border-color: transparent;
    color: #0f283b;
    padding: 0px;
  }

  .places {
    width: 100%;
    height: 100%; 
    /* padding: 5px 0px; */
   }

  #responsiveButton {
    display: block; 
    margin: 20px auto 10px;
    width: fit-content;
  } 

  .list-container-buttons button {
    flex-direction: column; 
    gap: 12px;
    padding: 6px 12px;   
    font-size: 14px;    
  }
  .list-container {
    display: none;
  }

}