.footer {
  background-color: #0f283b;
  color: #E6FEFE;
  width: 100%;
  height: 6.5rem;
}

.footer-top {
  display: flex;
  justify-content: space-between;  
  align-items: center;              
  padding: 0px 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 100;
  gap: 2px;
}


.footer-logo:hover{
    text-shadow:2px 2px 4px aquamarine;
}

.footer-logo img {
  width: 35px;
  padding-bottom: 16px;
}

.footer-nav {
  display: flex;
  gap: 25px;                      
  list-style: none;
}

.footer-nav a {
  color: #E6FEFE;
  text-decoration: none;
}

.footer-nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.footer-social {
  display: flex;
  gap: 18px;                    
}

.footer-social a {
  color: #E6FEFE;
  font-size: 20px;
}

.footer-bottom p{
  text-align: center;
  font-size: 12px;
  padding-bottom: 1px;
  opacity: 0.8;
}


/* Media Query for Galaxy Z Fold 5 (344 x 882) */

@media screen and (max-width: 344px) {
    .footer{
        height: 5rem;
    }
    
    .footer-logo img {
    width: 25px;
    
    }
    
    .footer-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 2px;
    }

    .footer-nav ul {
    display: block;
    list-style: none;
    padding: 2px;
    margin: 2px;
    font-size: 11px;
    }

    .footer-social {
    display: flex;
    gap: 10px;              
    }

    .footer-social a {
    color: #E6FEFE;
    font-size: 14px;
    }

    .footer-bottom p {
        font-size: 10px;
    }
}
