header h1 img {
    width: 35px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 2px;
}

header {
    background-color: #0f283b;
    color: #E6FEFE;
    width: 100%;
    height: auto;    
}

header h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.logo-link:hover {
    text-shadow:2px 2px 4px aquamarine;
}