
.modal-overlay {
    position: fixed;            
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099; 
    display: flex;            
    justify-content: center;
    align-items: center;
    z-index: 9999;           
}

.modal {
    background: white;
    padding: 20px;
    width: 380px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 80vh;
}

.modal h2 {
    margin: 0 0 8px 0;  
    font-size: 1.5rem;
}

.modal em, strong {
  font-size: 17px;
}

.modal-img {
    height: 32vh;
    border-radius:15px;
    object-fit: cover;
}

.modal-content {
    overflow-y: auto;
    max-height: 50vh;
    font-size: 0.9rem;
    padding-right: 6px;
}

.hours-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 4px;
    font-size: 0.85rem;
}

.hours-table td {
    padding: 4px 10px;
}

.hours-table td:first-child {
    width: 35%;
    font-weight: bold;
}


/* Media Query for Galaxy Z Fold 5 (344 x 882) */ 

@media screen and (max-width: 344px) {
    .modal {
    background: white;
    padding: 20px;
    width: 280px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: 70vh;
}
 
}