.modal-overlay {
    position: fixed;            
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099; 
    display: flex;            
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

.modal-content {
    background: #ffffff;
    padding: 2rem 2.5rem;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    font-size: 28px;
    padding-bottom: 10px;
    ;
}

.modal-button {
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
    background-color: #0f283b;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    border: none;
}

/* Media Query for max-width 344 */

@media screen and (max-width: 344px) {
    .modal-content {
        width: 50%;
    }
}