form {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
}

.form-field {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  max-width: 40vw;
  min-width: 30vw;
  margin-bottom: 1rem;
}

.form-field label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  text-align: center;
}

.form-field input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  font-size: 1rem;
  text-align: center;     
}

.form-field textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  font-size: 20px;
  resize: vertical;
  text-align: center;
}

.error {
  color: #d9534f;
  font-size: 1rem;
  margin-top: .25rem;
  text-align: center;
}

/* Media Query for iPad Mini - max-width: 768px */

@media screen and (max-width: 768px) {
form {
  display: flex;
  gap: 0;
  max-height: none;
  flex-direction: column;
  align-items: center;    
  justify-content: flex-start; 
}

.form-field{
    margin: 1px;
    padding: 0px;
    max-height: 4rem;
}

.form-field input,
.form-field textarea {
    height: 12px;
    padding: 0.4rem; 
}

.form-field label {
    font-size: 15px;
padding: rem;
margin-bottom: 0px;
  font-weight: 600;
  text-align: center;
}
}

/* Media Query for Galaxy Z Fold 5 (344 x 882) */

@media screen and (max-width: 344px) {
form {
  display: flex;
  max-height: 30vh;
  flex-direction: column;
  align-items: center;    
  justify-content: center ; 
  gap: 0;
}

.form-field label {
    font-size: 12px;
    /* margin-top: ; */
    margin-bottom: px;
    line-height: .5;
}

.form-field input {
    width: 100vw;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #cfcfcf;
    font-size: 1rem;
    text-align: center;     
  
}
}