Button {
  padding: 0.15rem .75rem;
  background-color:#0f283b;
  border-radius: 30px;
  color: #E6FEFE;
  cursor: pointer;
  text-decoration: none;
}

 Button:hover {
  background-color: #E6FEFE;
  color: #0f283b;
  border: 2px solid #0f283b;
  border-color: #0f283b; 
  text-decoration: none;
  font-weight: bold;
}