.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 50px;
  padding: 20px 50px;
  box-sizing: border-box;
}

.error {
  text-align: center;
  color: #ff6b6b;
  font-size: 0.9rem;
  margin-top: -5px;
  margin-bottom: 10px;
}

/* Media Query for iPad Mini - max-width: 768px */

@media screen and (max-width: 768px) {
  .login-page{
      flex-direction: column;
      height: 100vh;
      padding: 8px;
      gap: 0;

  }

    .form-container {
    width: 100%;
    height: 60vh;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;   
  }

    .form-container form {
    width: 100%;
    max-width: 350px; 
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    gap: 0;
  }


  .form-container label {
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: .5;
  }
}

/* Media Query for Galaxy Z Fold 5 (344 x 882) */

@media (max-width: 344px) {
  .login-page {
    width: 100%;
    height: auto;
  }
}