.form-container .btn {
  width: 16rem;
  align-self: center;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 50px;
  padding: 20px 50px;
  box-sizing: border-box;
}

.logo-container {
  width: 50%;                
  height: 75vh;      
  background-color: #0f283b;
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;        
  text-align: center;
  padding: 40px 20px;         
}

.pin-icon {
  width: 150px;
  height: auto;

  margin-bottom: 25px;
}

.logo-text {
  font-size: 65px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: bold;
  color: #E6FEFE;
  margin: 10px 0;
}

.tagline {
  font-size: 18px;
  line-height: 2;
  color: #a0d6d6;
  margin-top: 1px;
  font-style: italic;
}

.form-container{
    padding: 1px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container label {
  margin-top: 10px;
  font-weight: bold;
}

.form-container input {
  width: 70%;
  align-self: center;
  padding: 8px;
  font-size: 16px;
}

.form-container h4 {
  margin-top: 15px;
  text-align: center;
}

.form-container a {
  text-decoration: none;
  color: #333;
}

.form-container a:hover {
  color:#0f283b;
  background-color:#E6FEFE;
  text-decoration: underline;
}

strong {
    font-weight: 700;
}

/* Media Query for iPad Mini - max-width: 768px */

@media screen and (max-width: 768px) {
  .signup-page {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .logo-container{
    width: 100%;
    height: 30vh;
    /* position: relative; */
    padding: 20px;
  }

  .form-container form {
    height: 30vh;
    position: relative;
  }

  .form-container form label{
    padding: 9px;
  }

  .form-container .btn {
    width: 12rem;
    align-self: center;
  }

}

/* Media Query for Galaxy Z Fold 5 (344 x 882) */

@media (max-width: 344px) {
  .signup-page{
    width: 100%;
    height: auto;
  }
  
  .logo-container {
    width: 100%;
    height: 35vh; 
    padding: 20px 10px;
  }

  .pin-icon {
    width: 4rem;
  }

  .logo-text {
    font-size: 35px;
  }

  .tagline {
    font-size: 12px;
    line-height: 1.8;
  }

  .form-container {
    height: 65vh;
    padding: 15px 10px;
  }

  .form-container form {
    max-width: 400px;
  }

  .form-container form label{
    font-size: 12px;
    padding: 15px;
  }

  .form-container form input {
    width: 100%;
    font-size: 12px;
  }

  button {
    font-size: 14px;
    width: 120px;
    padding: 0.3rem 1rem;
    align-self: center;
  }

  h4 {
    font-size: 14px;
  }
}