.form-container .btn {
  width: 12rem;
  align-self: center;
}

.signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  gap: 50px;
  padding: 20px 50px;
  box-sizing: border-box;
}

.form-container{
    padding: 1px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-container label {
  margin-top: 10px;
  font-weight: bold;
}

.form-container input {
  width: 70%;
  align-self: center;
  padding: 8px;
  font-size: 16px;
}

.form-container h4 {
  margin-top: 15px;
  text-align: center;
}

.form-container a {
  text-decoration: none;
  color: #333;
}

.form-container a:hover {
  color:#0f283b;
  background-color:#E6FEFE;
  text-decoration: underline;
}

strong {
    font-weight: 700;
}

.form-container .error {
  font-size: 11px;
}

/* Media Query for iPad Mini - max-width: 768px */

@media screen and (max-width: 768px) {
  .signup-page {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .form-container form {
    height: 30vh;
    position: relative;
    /* margin-bottom: 4rem; */
    padding-bottom: 4rem;
  }

  .form-container form label{
    padding: 6px;
  }

  form input {
    /* gap: 0px; */
    padding: px;
  }

  .form-container .btn {
    width: 10rem;
    align-self: center;
  }

}

/* Media Query for Galaxy Z Fold 5 (344 x 882) */

@media (max-width: 344px) {
  .signup-page{
    width: 100%;
    height: auto;
  }

  .form-container {
    height: 65vh;
    padding: 15px 10px;
  }

  .form-container form {
    max-width: 400px;
  }

  .form-container form label{
    font-size: 12px;
    padding: 15px;
  }

  .form-container form input {
    width: 100%;
    font-size: 12px;
  }

  /* button {
    font-size: 14px;
    width: 120px;
    padding: 0.3rem 1rem;
    align-self: center;
  } */

  h4 {
    font-size: 14px;
  }
}