* {
  font-family: "Elms Sans", sans-serif;
  font-weight: normal;
}

.whole-page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.main-content {
  flex-grow: 1;
}

h1, h2, h1 .logo-link {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 100;
}

h4 em{
  font-weight: 600;
  font-size: 25px;
}

address {
  font-style: normal;
  font-size: 20px;
}

li {
line-height: 2;
}
