* {
  font-family: "Elms Sans", sans-serif;
  font-weight: normal;
}

button, .form-container .btn{
  padding: 0.15rem .75rem;
  background-color:#0f283b;
  border-radius: 30px;
  color: #E6FEFE;
  cursor: pointer;
  /* transition: background 0.2s, border-color 0.5s ease; */
}

button:hover, .btn:hover, .form-container .current-loc-btn:hover, .form-container .btn:hover {
  background-color: #E6FEFE;
  color: #0f283b;
  border: 1px solid #0f283b;
  border-color: #0f283b; 
}

li {
line-height: 2;
}
