* {
  font-family: "Elms Sans", sans-serif;
  font-weight: normal;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.main-content {
  flex-grow: 1;
}

h1, h2, h1 .logo-link {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 100;
}

h4 em{
  font-weight: 600;
  font-size: 25px;
}

address {
  font-style: normal;
  font-size: 20px;
}

button, .form-container .btn{
  padding: 0.15rem .75rem;
  background-color:#0f283b;
  border-radius: 30px;
  color: #E6FEFE;
  cursor: pointer;
  text-decoration: none;
  /* transition: background 0.2s, border-color 0.5s ease; */
}

button:hover, .btn:hover, .form-container .current-loc-btn:hover, .form-container .btn:hover {
  background-color: #E6FEFE;
  color: #0f283b;
  border: 1px solid #0f283b;
  border-color: #0f283b; 
  text-decoration: none;
}

li {
line-height: 2;
}
