/* @import url('https://fonts.googleapis.com/css2?family=Unna:wght@400;700&display=swap');

.unna-bold {
  font-family: "Unna", serif;
  font-weight: 700;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
} */

/* Global font and background */
/* body {
  font-family: "Unna", serif;
  background-color: #f9fafb;
  color: #222;
  
} */

/* main {
  padding: 5px;
  padding-bottom: 5rem;
} */

/* Style the header globally */
/* header {
  background-color: #01303B;
  padding: 2rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
} */

/* Example: Style your app title */
/* header h1{
  font-size: 3rem; */
  /* font-family: 'Unna', serif; */
  /* font-weight: 700;
  color: #E6FEFE;
  letter-spacing: 1px;
  text-align: left;
} */

/* header img {
  width: 100px;
  height: 100px;
  padding-bottom: 0px;
  object-fit: contain; keeps proportions
} */